.cabecalho__menu__hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu\ Aberto.svg");
    display: inline-block;
    margin: 0.5em;
}
.cabecalho{
    background-color: var( --cor-cinza-escuro);
}

.cabecalho__menu{
    display: none;
}
.cabecalho__menu__li{
    padding: 1em;
    width: auto;
}
.abecalho__menu__li__link,a{
    color: var(--cor-branco);
    text-decoration: none;
}
.cabecalho__checkbox:checked~.cabecalho__menu{
    display: block;
}
.cabecalho__checkbox:checked~.cabecalho__titulo{
    display: none;
}
.cabecalho__checkbox{
    display: none;
}
