.container__experiencias{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card__experiencias{
    background-color: var(--cor-verde-secundario);
    border-radius: 14px;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 2em;
}
.card__experiencias-titulo{
    font-size:25px;
    padding: 1em 0;
    font-weight: 700;
}
.card__experiencias-texto{
 padding: 0.2em;
}
.card__experiencias__lista{
    padding: 1em;
}

.card__experiencias__lista-item{
    font-size: 20px;
}
.card__experiencias-img{
    width: 100%;
}

