.rodape{
    background-color: var( --cor-cinza-escuro);
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-top: 2em;
}

.rodape__card{
    display: flex;
    background-color: var(--cor-verde-secundario);
    font-size: 14px;
    padding: 0.5em;
    margin: 1em;
    align-items: center;
    border-radius: 14px;
}
.rodape__card__localizacao-img{
    margin: 0.5em;
}
.rodape__card__texto{
    margin-left: 0.5em;
    text-align: center;
}