.opcoes{
    display: none;
}
/*index*/
@media screen and (min-width:1024px){
    .cabecalho__menu__hamburguer{
        display: none;
    }
    .opcoes{
        display: flex;
        justify-content: space-around;
        padding: 2em;
        font-weight:700;
    }
    .cabecalho__opcoes__menu{
        display: flex;
    }
    .cabecalho__opcoes__menu__li{
        padding: 1em;
        font-size: 20px;

    }
    .banner__texto{
        font-size: 25px;
    }
    .banner__perfil{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .banner__texto__titulo{
        font-size: 35px;
    }
    .banner__texto__sub-titulo{
        font-size: 35px;
        color: var(--cor-amarelo-claro);
    }
    .containner__perfil-pessoal-titulo{
        font-size: 30px;
        font-weight: 700;
    }
    .containner__perfil-pessoa-texto{
        font-size: 25px;
        width: 75%;
    }

    .rodape{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 15vw;
    }
    .rodape__card{
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    .rodape__card__localizacao-img{
        width: 35%;
    }
    .rodape__card__texto{
        font-size: 20px;
        margin: 1em;
    }

    .container__experiencias{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .card__experiencias-img{
        width: 50%;
    }
    .card__experiencias-texto{
        text-align: center;
    }
    .card__experiencias__lista{
        display: none;
    }

    .card__experiencias{
        width:50%;
    }

    .container__formacoes{
        justify-content: space-around;
        display: flex ;
        flex-direction: column;
    }
    .container__formacoes-principais{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.5em;
    }
    
    .container__formacoes__curso-img{
        box-shadow: 3px 3px 7px rgba(255, 255, 255, 1);
    }
    .conatiner__formacoes__titulo{
        font-size: 20px;
        font-weight: 700;
    }
    .container__formacoes__curso-descricao{
        padding: 0.5em;
    }
}

@media screen and (min-width: 900px) {
    .rodape__card__localizacao-img{
        width: 50%;
    }
    .rodape__card__texto{
       display: none;

}